@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed:wght@300&display=swap');

$body-font-family: 'Bitter', serif;
$header-font-family: 'Open Sans Condensed', sans-serif;
$header-2-font-family: 'Roboto Condensed', sans-serif;
