.portfolio-header-pattern{
  display: block;
  width: 500px;
  height: 400px;
}

.portfolio-hero-header {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  background-color: #ffffff;
}

.portfolio-hero-header-description {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;

  li {
    flex: 1 0 200px;
    text-align: center;
    padding: 0 1.25rem;
    position: relative;
    white-space: nowrap;

    &:before {
      content: "*";
      position: absolute;
      left: 0;
      top: 5px;
    }

    &:first-child:before {
      content: "";
    }
  }
}

.portfolio-hero-header-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;

  li {
    margin: 1.25rem;

    a {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }
  }
}
