<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Olivia J Phillips | Portfolio</title>
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <script src="https://kit.fontawesome.com/43c8abec4c.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
          {{> topbar-responsive}}
        </div>
      </div>
        <div class="grid-x grid-margin-x">
          <div class="large-12 cell">
            {{> body}}
            <script src="{{root}}assets/js/app.js"></script>
          </div>
        </div>
            {{> social-footer}}
          <script src="{{root}}assets/js/app.js"></script>          </div>
    </body>
</html>
