<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas data-position="left">
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <ul class="menu simple vertical medium-horizontal topbar-responsive-links" id="ojp-nav">
    <li><a href="services.html">Services</a></li>
    <li><a href="portfolio.html">Portfolio</a></li>
    <li><a href="about.html">About</a></li>
    <li>
      <button type="button" class="button topbar-responsive-button">Let's Talk</button>
    </li>
  </ul>
</div>
