<div class="grid-container grid-container-footer">
  <div class="binder">
    <footer class="grid-x grid-margin-x">
      <div class="large-11 cell social-footer-left">
        <a href="index.html">
          <p class="footerName">Olivia J Phillips: UX Strategy, Research, & Design</p>
        </a>
        <p class="copyright">&copy; 2020</p>
      </div>
      <div class="cell auto social-footer-right">
        <a href="https://www.linkedin.com/in/oliviaphillips/"><i class="fab fa-linkedin" style="color: white; font-size: 30px; margin-top: 15px;"></i></a>
      </div>
    </footer>
  </div>
</div>
